<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->

            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Sookterior는 <br>Create와 Sense, Quality를<br> 중요시하는 회사입니다.

                                                </h1>
                                <p class="lead fw-normal text-muted mb-4">우리는, 우리 작품에 대한 자부심을 가지고 있습니다. 기획자, 디자이너, 인테리어 시공 팀. 각 분야별 최고의 실력을
                                                자랑하는 사람들이 한데 모여 만드는 인테리어는 그 자체 만으로도
                                                걸작품이라고 감히 말씀 드릴 수 있습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://img.freepik.com/premium-photo/modern-minimal-interior-living-room-black-and-white-furniture-in-white-room_258219-617.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Sooterior 신규 서비스</h2>
                            <p class="lead fw-normal text-muted mb-0">Sookterior에서    최고의 가구들을 실제 우리집 도면에 배치할 수 있는 무료 인테리어 시뮬레이션 서비스가 출시되었습니다.
지금 바로 3D인테리어 를 사용해보세요</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <!-- Team members section-->
        <!-- Footer-->

    </body>
</html>
{% endblock %}