<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->

            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Imagin your dream We create Reality</h1>

                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-x
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://img.freepik.com/premium-photo/modern-minimal-interior-living-room-black-and-white-furniture-in-white-room_258219-617.jpg" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->

            <section class="py-5" id="features">
                <div class="container px-5 my-5">

                    <div class="row gx-5">

                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">New Service</h2></div>
<div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://blog.kakaocdn.net/dn/bk2Mtm/btrxrbu7eFR/0YFYeG4JvmHaLEIL3i25Rk/img.png" alt="..." /></div>
                        <div class="col-lg-8">

                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h4">3D 인테리어</h2>
                                    <h2 class="h5">여러분의 집 도면에 3D로가구배치를  할 수 있습니다.3D  인테리어를 사용해보세요</h2>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"Working with Sookterior !"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="fw-bold">
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        CEO, Uijung Kwon
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog preview section-->

        <!-- Footer-->
        </footer>
        <!-- Bootstrap core JS-->

    </body>
</html>
{% endblock %}