<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">Sookterior</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/about">회사 소개</a></li>
                            <li class="nav-item"><a class="nav-link" href="/service">3d 인테리어</a></li>
                            <li class="nav-item"><a class="nav-link" href="/faq">고객 센터</a></li>

                             <li class="nav-item"><a class="nav-link" href="/enroll">회원 가입</a></li>
                             <li class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Pricing section-->
            <section class="bg-light py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">3D 인테리어 </h1>
                        <p class="lead fw-normal text-muted mb-0">3D 인테리어를 사용해보세요 </p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <!-- Pricing card free-->

                        <!-- Pricing card pro-->
                        <div class="col-lg-6 col-xl-4">
                            <div class="card mb-5 mb-xl-0">
                                <div class="card-body p-5">
                                    <div class="small text-uppercase fw-bold">
                                        <i class="bi bi-star-fill text-warning"></i>
                                    </div>
                                    <div class="mb-3">
                                        <span class="fw-bolder"">3D 인테리어 서비스란?</span>
                                    </div>
                                    <ul class="list-unstyled mb-4">
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
고객님들이 공간 사진을 첨부 하면, 시중에  판매되는 가구들을 실제 우리집 도면에 배치하여 제공하는 무료 인테리어 시뮬레이션 서비스입니다.
                                        </li>
                                    </ul>
                                     <div class="mb-3">
                                        <span class="fw-bolder">3D 인테리어 사용법</span>
                                    </div>

                                    <ul class="list-unstyled mb-4">
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                             1)  자신의 집 도면 사진을  업로드해주세요.
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                             2) 집 도면 사진 업로드 후   배치안을 받을 이메일을 입력합니다.
그 다음 “제출 완료” 버튼을 누르면   최대 5 일안에 완성된 배치안을 받아볼 수 있습니다
                                        </li>
                                    </ul>


                                    <div class="d-grid"><a class="btn btn-primary" href="#!">서비스이용</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Pricing card enterprise-->

                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">(주) Sookterior 사업자 번호: 8282-1234  주소: 서울특별시 용산구 청파로 47길       이메일: sixsense@sookmyung.ac.kr
               전화번호: 1234-5678</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
